---
import data from "../../public/resume.json";
---

<div class="flex flex-col">
  <h3 class="text-xl font-bold text-black dark:text-white">{data.name}</h3>
  <h4 class="text-xs font-semibold uppercase tracking-wide text-olive-600 dark:text-olive-500">
    {data.title}
  </h4>
</div>
