---
import '@fontsource-variable/inter';
import { SEO, type SEOProps } from 'astro-seo';
import '../index.css';

type Props = {
  title?: string;
  description?: string;
  openGraph?: SEOProps['openGraph'];
};

const { title, description, openGraph } = Astro.props as Props;

const favicons = [
  { rel: 'icon', type: 'image/svg', href: '/favicon.svg' },
  { rel: 'icon', type: 'image/png', sizes: '128x128', href: '/favicon-128.png' },
  { rel: 'icon', type: 'image/png', sizes: '96x96', href: '/favicon-96.png' },
  { rel: 'icon', type: 'image/png', sizes: '48x48', href: '/favicon-48.png' },
  { rel: 'apple-touch-icon', type: 'image/svg', href: '/favicon.svg' },
  { rel: 'apple-touch-icon', type: 'image/png', sizes: '128x128', href: '/favicon-128.png' },
  { rel: 'apple-touch-icon', type: 'image/png', sizes: '96x96', href: '/favicon-96.png' },
  { rel: 'apple-touch-icon', type: 'image/png', sizes: '48x48', href: '/favicon-48.png' },
];
---

<html lang="en" class="h-full">
	<head>
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width,initial-scale=1" />

		<SEO
			{title}
			{description}
			{openGraph}
			titleDefault="Zak Nesler"
			titleTemplate="%s — Zak Nesler"
			charset="utf-8"
			twitter={{ creator: '@zaknesler' }}
			extend={{
				link: [
					...favicons,
					{ rel: 'manifest', href: '/manifest.json' },
					{ rel: 'sitemap', href: '/sitemap-index.xml' },
				],
			}}
		/>
	</head>

	<body class="selection:bg-blue-500/20 bg-white dark:bg-gray-950 text-gray-700 dark:text-gray-300 font-display">
		<div class="w-full h-4 bg-gradient-to-r from-blue-700 to-blue-500 dark:from-blue-900 dark:to-blue-800">
		</div>

		<div class="p-8 lg:p-16">
			<slot />
		</div>
	</body>
</html>
