---
import Meta from '@/components/meta.astro'
import '@fontsource-variable/inter'

type Props = { title?: string }
const { title } = Astro.props as Props
---

<html lang="en" class="h-full">
  <head>
    <Meta />
    <title>{title ? `${title} - Zak Nesler` : 'Zak Nesler'}</title>
  </head>
  <body
    class="selection:bg-brand-500/20 bg-white dark:bg-gray-950 text-gray-700 dark:text-gray-300"
  >
    <div
      class="w-full h-4 bg-gradient-to-r from-brand-700 to-brand-500 dark:from-brand-900 dark:to-brand-800"
    >
    </div>

    <div class="p-8 lg:p-16">
      <slot />
    </div>
  </body>
</html>
